<% provide(:title, 'About Us') %>
    <h1>About Us</h1>
    <p>
      This website was constructed by Nicholas Francisci as an exercise
      while learning about the Ruby on Rails framework via Michael Hartl's
      <a href="http://ruby.railstutorial.org/chapters/">Rails Tutorial</a>. 
    </p>