<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact <a href="mailto:nickfrancisci@gmail.com">Nick</a> about this
  web application or visit the Ruby on Rails Tutorial
  <a href="http://railstutorial.org/contact">contact page</a>
  for additional information.
</p>