<% provide(:title, 'Help')%>
<h1>Help</h1>
<p>
	To make a new micropost or view your feed, <%= link_to "signin", signin_path %>
	 (or sign up), then visit the <%= link_to "home page", root_path %>. To follow/unfollow a user, find them on
	 the <%= link_to "users page", users_path %> and select the 'follow/unfollow' button. 
	 For additional help, or to report a bug please contact 
	 <a href="mailto:nickfrancisci@gmail.com">Nick</a>.
</p>